
{% load static %}
<!DOCTYPE HTML>



<html>

<head>
	<title> Home | Hire Me! </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://md-aqil.github.io/images/swiper.min.css">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<noscript>
	<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<noscript>
	<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
	</noscript>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://md-aqil.github.io/images/swiper.min.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
		integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
		$(function () {

			//BEGIN
			$(".js-faq-title").on("click", function (e) {

				e.preventDefault();
				var $this = $(this);

				if (!$this.hasClass("faq__active")) {
					$(".js-faq-content").slideUp(800);
					$(".js-faq-title").removeClass("faq__active");
					$('.js-faq-rotate').removeClass('faq__rotate');
				}

				$this.toggleClass("faq__active");
				$this.next().slideToggle();
				$('.js-faq-rotate', this).toggleClass('faq__rotate');
			});
			//END

		});

	</script>
</head>



<body class="is-preload">
	<div id="wrapper" class="divided">
		<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
		<nav class="w3-sidebar w3-black w3-animate-right w3-xlarge "
			style="display:none;padding-top:150px;right:0;z-index:2; text-decoration: none;" id="mySidebar">
			<a href="{% static 'javascript:void(0)' %}" onclick="closeNav()" class="w3-button w3-black w3-xxlarge w3-display-topright"
				style="padding:0 12px;">
				<i class="fa fa-remove"></i>
			</a>
			<div class="w3-bar-block w3-center ">
				<a style="text-decoration: none; font-size: x-large;" href="#hero"
					class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Home</a>
				<a style="text-decoration: none; font-size: x-large;" href="#home"
					class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">About Hire Me!</a>
				<a style="text-decoration: none; font-size: x-large;" href="#contact"
					class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Contact</a>
			</div>
		</nav>

		<!-- Menu icon to open sidebar -->
		<span class="w3-button w3-top w3-white w3-xlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;"
			onclick="openNav()"><i class="fa fa-bars"></i>
		</span>



		<section 
			class="banner style3 orient-left fullscreen content-align-left  ">
			<div class="content">
				<div>
					<h2 class="animate__animated animate__pulse"> <a style="font-size: 36px;  text-decoration: none;
						text-decoration-color: none;
						text-decoration-line: none;">  </a>


							<a style="color: rgba(169, 199, 36, 0.959); text-decoration: none; font-size: 36px;">Thank you, {{name}} !</a></h2>


					<p style="font-size: 16px;"> Thanks for signing up! You can share your life story, major life events, and connect with the people who have lived a life parallel to yours on our app. We are a lifestyle and community support platform, designed to provide you with a unique and inspiring experience. We will inform you when we release our app on the App Store and Google Play. Don’t forget to share it with your friends.
					</p>
				</div>

			</div>
			<div class="image">

				<img style="background-color: white;" src="{% static 'images/celebrations.svg' %}" alt="" />

			</div>



		</section>



		<!-- about -->
		<section id="home" style=" background-color: #FAFAFB; "
			class="banner style1 orient-right fullscreen content-align-left image-position-right  ">
			<div class="content">
				<div>
					<h2 class="animate__animated animate__pulse"> <a style="font-size: 36px;  text-decoration: none;
						text-decoration-color: none;
						text-decoration-line: none;">About </a> <a
							style="color: rgba(169, 199, 36, 0.959); text-decoration: none; font-size: 36px;">Hire
							Me!</a></h2>
					<p style="font-size: 16px;"> Hiring the right employees for your business is important no matter
						what kind of work you're in. Having quality employees will help your company run and grow.
						However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and
						browsing profiles is only part of the job.
						<br><br>By adopting a structured and comprehensive hiring process, you're taking the first step
						in positioning your business for success by attracting the right talent. The type of talent that
						will help build the company culture, drive sales and ultimately position the company as a leader
						in the industry.
					</p>
				</div>

			</div>
			<div class="image">

				<img style="background-color: white;" src="{% static 'images/people.jpg' %}" alt="" />

			</div>



		</section>





		<!-- contact us -->
		<section style="background-color:rgb(249, 249, 255); font-family:Quicksand; padding-top: 50px;">

			<div id="contact" style="margin:10px;" class="container-fluid ">
				<h2 style=" color:rgba(169, 199, 36, 0.959);" class="text-left">CONTACT US</h2>
				<br>

				<div class="row">
					<div class="col-sm-5">
						<p>Contact us and we'll get back to you within 24 hours.</p>
						<br>
						<p><span class="glyphicon glyphicon-map-marker" ></span> {{data.address}}</p>
						<p><span class="glyphicon glyphicon-phone"></span>{{data.number}}</p>
						<p><span class="glyphicon glyphicon-envelope"></span>{{data.company_email}}</p>
					</div>


					<form method="POST" action="contact">
				{% csrf_token %}
<!--									{{form.name.label}}-->
<!--									{{form.name}}-->

<!--									{{form.email.label}}-->
<!--									{{form.email}}-->

<!--									{{form.content.label}}-->
<!--									{{form.comment}}-->



					<input type="hidden" value="contact" name="form">


				  <div class="col-sm-7 slideanim">
					<div class="row">
					  <div class="col-sm-6 form-group">
						<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
					  </div>
					  <div class="col-sm-6 form-group">
						<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
					  </div>
					</div>
					<textarea class="form-control" id="comments" name="comment" placeholder="Comment" rows="5" required></textarea><br>
					  <div class="row">
					  		<div class="col-sm-12 form-group">
								<button
									style=" margin-left:15px;border-radius: 30px; background-color:rgba(169, 199, 36, 0.959); text-align: center; text-decoration: none;  "
									type="submit" class="button">
									SEND


								</button>
							</div>
							</div>
						</div>


<!--					<div class="col-sm-7 slideanim">-->
<!--						<div class="row">-->
<!--							<div class="col-sm-6 form-group">-->
<!--								<input class="form-control" id="name" name="name" placeholder="Name" type="text"-->
<!--									required>-->
<!--							</div>-->
<!--							<div class="col-sm-6 form-group">-->
<!--								<input class="form-control" id="email" name="email" placeholder="Email" type="email"-->
<!--									required>-->
<!--							</div>-->
<!--						</div>-->
<!--						<textarea style="resize: none;" class="form-control" id="textarea" name="textarea"-->
<!--							placeholder="comments" rows="4"></textarea><br>-->
<!--						<div class="row">-->

<!--							<div class="col-sm-12 form-group">-->
<!--								<button-->
<!--									style=" margin-left:15px;border-radius: 30px; background-color:rgba(169, 199, 36, 0.959); text-align: center; text-decoration: none;  "-->
<!--									type="button" class="button">-->
<!--									SEND-->


<!--								</button>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
				</div>
			</div>



		</section>






		<script>
			// Open and close sidebar
			function openNav() {
				document.getElementById("mySidebar").style.width = "100%";
				document.getElementById("mySidebar").style.display = "block";
			}

			function closeNav() {
				document.getElementById("mySidebar").style.display = "none";
			}
		</script>



</body>

</html>