
{% load static %}
<!DOCTYPE HTML>



<html>

<head>
	<title> Home | Hire Me! </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://md-aqil.github.io/images/swiper.min.css">



	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
	</noscript>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://md-aqil.github.io/images/swiper.min.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
		integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
		$(function () {

			//BEGIN
			$(".js-faq-title").on("click", function (e) {

				e.preventDefault();
				var $this = $(this);


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="divided">




		<nav style="background-color: rgb(255, 255, 255);" class="navbar navbar-default navbar-fixed-top">
			<div style=" margin-left: 10px;" class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>


					<!-- need a  new Logo -->
					<a class="navbar-brand" href="#"><a
							style=" font-size: 25px; margin-left: 5px; text-decoration: none;" href="#"> HM</a>







				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<iv class="navbar">


						<ul style="padding-right: 20px;" class="nav navbar-nav navbar-left">




							<li> </i><a href="#home"><i class="fas fa-home"></i> Home</a> </li>
							<li><a href="#careers"><i class="fas fa-user"></i>Careers</a></li>
							<li> <a href="#FAQs"><i class="fas fa-book"></i> FAQs</a> </li>

				if (!$this.hasClass("faq__active")) {
					$(".js-faq-content").slideUp(800);
					$(".js-faq-title").removeClass("faq__active");
					$('.js-faq-rotate').removeClass('faq__rotate');
				}


				$this.toggleClass("faq__active");
				$this.next().slideToggle();
				$('.js-faq-rotate', this).toggleClass('faq__rotate');
			});
			//END

		});

	</script>
</head>


<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="divided">

		<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
		<nav class="w3-sidebar w3-white w3-animate-right w3-xlarge"
			style="display:none;padding-top:150px;right:0;z-index:2; text-decoration: none;" id="mySidebar">
			<a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxlarge w3-display-topright"
				style="padding:0 12px;">
				<i class="fa fa-remove"></i>
			</a>
			<div class="w3-bar-block w3-center ">
				<a style="text-decoration: none; font-size: x-large;" href="#hero" class="w3-bar-item w3-button w3-text-grey w3-hover-black"
					onclick="closeNav()">Home</a>
				<a style="text-decoration: none; font-size: x-large;" href="#home" class="w3-bar-item w3-button w3-text-grey w3-hover-black"
					onclick="closeNav()">About Hire Me!</a>
				<a style="text-decoration: none; font-size: x-large;" href="#services"
					class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Our Services</a>
				<a style="text-decoration: none; font-size: x-large;" href="#contact"
					class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Contact</a>
			</div>
		</nav>

		<!-- Menu icon to open sidebar -->
		<span class="w3-button w3-top w3-white w3-xlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;"
			onclick="openNav()"><i class="fa fa-bars"></i></span>

		<!-- hero -->
		<section id="hero"
			class="banner style2 orient-right content-align-left image-position-left fullscreen onload-image-fade-in onload-content-fade-right">

			<div class="image">

				<img style="background-color: white;" src="{% static 'images/hireme.jpg' %}" alt="" />

			</div>



			<div style="padding-top: 70px; text-align:center;" class="content">



				<h1 style="text-align:left;" class="animate__animated animate__pulse"> <a
						style="color: rgba(169, 199, 36, 0.959); text-decoration: none; font-size: 36px;">
<!--					Hire-->
<!--						Me!</a> is helping people have great jobs and infinite oppurtuity.-->
					{{hero.about}}</a>

				</h1>






				<p style="font-size: x-small; color:#969CB5; text-align: left; ">
<!--					Fill in your credentials! You will be-->
<!--					notified. --> {{hero.credential}}
				</p>

				<ul style="text-decoration: none; border:none;" class="actions">
					<button
						style=" margin-left:15px;border-radius: 30px; background-color:rgba(169, 199, 36, 0.959); text-align: center; text-decoration: none;  "
						type="button" class="button" data-toggle="modal" data-target=".bs-example-modal-new">
<!--						Register Now!-->{{hero.button}}


					</button>
				</ul>
			</div>




			<div class="modal fade bs-example-modal-new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
				aria-hidden="true">

				<div class="modal-dialog">

					<!-- Modal Content: begins -->
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">

							<button type="button" id="closeButton" class="close" data-dismiss="modal"
								aria-label="Close">
								<i style="color:black;" class="far fa-times-circle"></i>
							</button>

							<h4 style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
								class="modal-title" id="gridSystemModalLabel"> Register and Get Hired!</h4>
						</div>

						<!-- Modal Body -->
						<div class="modal-body">
							<div class="body-message">

<!--<<<<<<< HEAD-->
								<form method="POST" enctype="multipart/form-data" action="register">
							{% csrf_token %}
<!--									{{form.name.label}}-->
<!--									{{form.name}}-->

<!--									{{form.email.label}}-->
<!--									{{form.email}}-->

<!--									{{form.number.label}}-->
<!--									{{form.number}}-->

<!--                                    {{form.file.label}}-->
<!--									{{form.file}}-->
=======
<!--								<form method="post" action="#">-->

									<div class="fields">

										<div class="field ">
											<label style=" color:#969CB5; text-align: left; font-size: 12px;"
												for="fullName">FULL NAME*</label>
											<input type="text" name="name" id="name" value=""
												placeholder="e.g John Doe" required />
										</div>
										<div class="field ">
											<label style=" color:#969CB5; text-align: left; font-size: 12px;"
												for="email">E-MAIL ADDRESS*</label>
											<input type="email" name="email" id="email" value=""
												placeholder="johndoe@example.com" required />
										</div>

										<div class="field ">
											<label style=" color:#969CB5; text-align: left; font-size: 12px;"
												for="phone">CONTACT NUMBER*</label>
											<input type="tel" id="phone" name="number" placeholder="123-45-67890"
												 required>

<!--											pattern="[0-9]{3}-[0-9]{2}-[0-9]{5}"-->
										</div>
										<div class="field ">

											<label
												style=" font-family:Quicksand; color:#969CB5; text-align: left; font-size: 12px;"
												for="file">UPLOAD YOUR RESUME*</label>
											<input type="file" name="file" id="fileToUpload">
										</div>



									</div>
									<ul class="actions special">
										<li><button type="submit"  style=" background-color:  rgba(169, 199, 36, 0.959) ;
													color: white; font-size: 13px; border:none;"  value="Subscribe"
												class="button smooth-scroll-middle">Done!</button></li>
									</ul>




<!--									<button type="submit">Submit</button>-->
								</form>
								<p style="font-size: 10px;"> By proceeding you agree to our <a href="#"
										style="font-size: 13px; font-weight: 700;"> Terms and Conditions<a> </p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- about -->
		<section id="home" style=" background-color: #FAFAFB; "
			class="banner style1 orient-left fullscreen content-align-left image-position-right onload-image-fade-in onload-content-fade-right ">
			<div class="content">
				<div>
					<h2 class="animate__animated animate__pulse"> <a style="font-size: 36px;  text-decoration: none;
						text-decoration-color: none;
						text-decoration-line: none;"><!--About-->{{about.about_header}} </a> <a
							style="color: rgba(169, 199, 36, 0.959); text-decoration: none; font-size: 36px;">Hire
							Me!</a></h2>
					<p style="font-size: 16px;">

						{{about.about_box|linebreaksbr}}
<!--						Hiring the right employees for your business is important no matter-->
<!--						what kind of work you're in. Having quality employees will help your company run and grow.-->
<!--						However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and-->
<!--						browsing profiles is only part of the job.-->
<!--						<br><br>By adopting a structured and comprehensive hiring process, you're taking the first step-->
<!--						in positioning your business for success by attracting the right talent. The type of talent that-->
<!--						will help build the company culture, drive sales and ultimately position the company as a leader-->
<!--						in the industry.-->
					</p>
				</div>

			</div>
			<div class="image">

				<img style="background-color: white;" src="{% static 'images/contact.jpg' %}" alt="" />

			</div>



		</section>

		<!-- testimonials -->
		<section
			style=" color: rgba(169, 199, 36, 0.959); background-color:rgb(244, 244, 255);  text-decoration: none;   padding-top:50px; font-family: Quicksand; text-align: center; "
			class="spacer">
			<h1 class="animate__animated animate__pulse" style="font-size: 36px; font-family: Quicksand; ">
				What Our Clients Have To Say!</h1>

			<div style="padding-top: 10px;" class="testimonial-section">
				<div class="testi-user-img">
					<div class="swiper-container gallery-thumbs">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img class="u3" src="https://md-aqil.github.io/images/2091127763_1_1_1.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img class="u1" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg"
									alt="">
							</div>
							<div class="swiper-slide">
								<img class="u2"
									src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg"
									alt="">
							</div>

							<div class="swiper-slide">
								<img class="u4" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg"
									alt="">
							</div>

						</div>
					</div>
				</div>
				<div style="background-color: rgba(188, 199, 139, 0.877);" class="user-saying">
					<div class="swiper-container testimonial">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper ">
							<!-- Slides -->
							<div class="swiper-slide">
								<div class="quote">
									<img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
									<p>
										“This is best and biggest unified platform
										for instant job guarantee. We can easily
										get connected with the desired companies and get hired.“
									</p>
									<div class="name">-John Doe-</div>
									<div class="designation">University Student</div>

								</div>
							</div>
							<div class="swiper-slide">
								<div class="quote">
									<img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">

									<p>
										"I was unemployed for 2 years untill I heard about Hire Me!“
									</p>
									<div class="name">-Jane Plain-</div>
									<div class="designation">University Student</div>

								</div>
							</div>
							<div class="swiper-slide">
								<div class="quote">
									<img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">

									<p>
										“Getting a job had never been so easy! Definitely recommend.“
									</p>
									<div class="name">-Swikriti -</div>
									<div class="designation">University Student</div>

								</div>
							</div>


						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination swiper-pagination-white"></div>

					</div>
				</div>
			</div>
		</section>



<!--<<<<<<< HEAD-->
<!--			<div id="contact" style="margin:10px;"class="container-fluid ">-->
<!--				<h2 style="padding-top: 50px; color:rgb(51, 63, 31);"class="text-center">CONTACT US</h2>-->
<!--				<div class="row">-->
<!--				  <div class="col-sm-5">-->
<!--					<p>Contact us and we'll get back to you within 24 hours.</p>-->
<!--					<p><span class="glyphicon glyphicon-map-marker"></span> Lazimpat, Kathmandu</p>-->
<!--					<p><span class="glyphicon glyphicon-phone"></span> +01 2223334</p>-->
<!--					<p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>-->
<!--				  </div>-->
<!--						<form method="POST">-->
<!--				{% csrf_token %}-->
<!--&lt;!&ndash;									{{form.name.label}}&ndash;&gt;-->
<!--&lt;!&ndash;									{{form.name}}&ndash;&gt;-->

<!--&lt;!&ndash;									{{form.email.label}}&ndash;&gt;-->
<!--&lt;!&ndash;									{{form.email}}&ndash;&gt;-->

<!--&lt;!&ndash;									{{form.content.label}}&ndash;&gt;-->
<!--&lt;!&ndash;									{{form.comment}}&ndash;&gt;-->






<!--				  <div class="col-sm-7 slideanim">-->
<!--					<div class="row">-->
<!--					  <div class="col-sm-6 form-group">-->
<!--						<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>-->
<!--					  </div>-->
<!--					  <div class="col-sm-6 form-group">-->
<!--						<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>-->
<!--					  </div>-->
<!--					</div>-->
<!--					<textarea class="form-control" id="comments" name="comment" placeholder="Comment" rows="5" required></textarea><br>-->
<!--					  <div class="row">-->
<!--					  		<div class="col-sm-12 form-group">-->
<!--								<button-->
<!--									style=" margin-left:15px;border-radius: 30px; background-color:rgba(169, 199, 36, 0.959); text-align: center; text-decoration: none;  "-->
<!--									type="submit" class="button">-->
<!--									SEND-->
<!--=======-->
	<!-- our services -->
		<section
			style=" background-color:rgb(255, 255, 255); padding:20px; padding-bottom: 100px; font-family: Quicksand;"
			id="services">
			<h2 style="color:rgba(169, 199, 36, 0.959); letter-spacing:0.2px; font-size: 36px; padding-top: 70px; padding-bottom: 20px;"
				class="w3-wide w3-center"> Our Services</h2>
<!--&gt;>>>>>> origin-->

			<!-- Container (Services Section) -->
			<div id="services" class="container-fluid text-center">

<!--<<<<<<< HEAD-->
								</button>
							</div>

					  </div>

				<h4 style="color:rgba(169, 199, 36, 0.959);">What we offer</h4>
				<br>
				<div class="row slideanim">
					<div class="col-sm-4">
						<i style="font-size: 120px; color: rgb(75, 75, 75);" class="fas fa-briefcase"></i>

						<h4 style="color:rgba(169, 199, 36, 0.959);">Job</h4>
					</div>
					<div class="col-sm-4">
						<i style="font-size: 120px; color: rgb(255, 200, 180);" class="fas fa-users"></i>
						<h4 style="color:rgba(169, 199, 36, 0.959);">Exposure</h4>
					</div>
					<div class="col-sm-4">
						<i style="font-size: 120px; color: rgb(255, 187, 187);" class="fas fa-home"></i>
						<h4 style="color:rgba(169, 199, 36, 0.959);">Work From Home</h4>
					</div>
				</div>
				<br><br>
				<div class="row slideanim">
					<div class="col-sm-4">
						<i style="font-size: 120px; color: rgb(255, 255, 149);" class="fas fa-smile"></i>
						<h4 style="color:rgba(169, 199, 36, 0.959);">Job Satisfaction</h4>
					</div>
					<div class="col-sm-4">
						<i style="font-size: 120px; color: rgb(174, 174, 255);" class="fas fa-certificate"></i>
						<h4 style="color:rgba(169, 199, 36, 0.959);">CERTIFIED</h4>
					</div>
					<div class="col-sm-4">
						<i style="font-size: 120px; color: rgb(255, 243, 177);" class="fas fa-coins"></i>
						<h4 style="color:rgba(147, 180, 0, 0.959);">Great Pay</h4>
<!--&gt;>>>>>> origin-->
					</div>
				</div>
<!--<<<<<<< HEAD-->
			  </div>

			</div>
<!--&gt;>>>>>> origin-->



		</section>

		<!-- faqs -->
		<section style=" background-color:rgba(255, 255, 255, 0.856); padding:20px;">
			<h2 style="color:rgba(169, 199, 36, 0.959); letter-spacing:0.2px; font-size: 36px; padding-top: 70px; padding-bottom: 20px;"
				class="w3-wide w3-center"> Frequently Asked Questions!</h2>
			<div class="w3-row w3-padding-32">
				<div style="padding-left:15px; padding-right:15px;" class="w3-col m6 w3-large w3-margin-bottom">



					<div class="b-faq">
						<div class="faq__item">
							<a href="#" class="faq__title js-faq-title">
								<div class="faq__spoiler js-faq-rotate"><span class="faq__symbol ">+</span>
								</div>
								<span class="faq__text">What is Hire Me?
								</span>
							</a>
							<div class="faq__content js-faq-content">
								Hiring the right employees for your business is important no matter
								what kind of work you're in. Having quality employees will help your company run and
								grow.
								However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and
								browsing profiles is only part of the job.
							</div>
						</div>
					</div>
					<br>

					<div class="b-faq">
						<div class="faq__item">
							<a href="#" class="faq__title js-faq-title">
								<div class="faq__spoiler js-faq-rotate"><span class="faq__symbol ">+</span>
								</div>
								<span class="faq__text">How is this different from other social networking
									platforms?</span>
							</a>
							<div class="faq__content js-faq-content">
								Hiring the right employees for your business is important no matter
								what kind of work you're in. Having quality employees will help your company run and
								grow.
								However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and
								browsing profiles is only part of the job.



							</div>
						</div>
					</div>
					<br>
					<div class="b-faq">
						<div class="faq__item">
							<a href="#" class="faq__title js-faq-title">
								<div class="faq__spoiler js-faq-rotate"><span class="faq__symbol ">+</span>
								</div>
								<span class="faq__text">What is Hire Me?

								</span>
							</a>
							<div class="faq__content js-faq-content">
								Hiring the right employees for your business is important no matter
								what kind of work you're in. Having quality employees will help your company run and
								grow.
								However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and
								browsing profiles is only part of the job.



							</div>
						</div>
					</div>


				</div>





				<div style="padding-left:15px; padding-right:15px;" class="w3-col m6 w3-large w3-margin-bottom">

					<div class="b-faq">
						<div class="faq__item">
							<a href="#" class="faq__title js-faq-title">
								<div class="faq__spoiler js-faq-rotate"><span class="faq__symbol ">+</span>
								</div>
								<span class="faq__text">What is Hire Me?
								</span></span>
							</a>
							<div class="faq__content js-faq-content">
								Hiring the right employees for your business is important no matter
								what kind of work you're in. Having quality employees will help your company run and
								grow.
								However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and
								browsing profiles is only part of the job.


							</div>
						</div>
					</div>
					<br>

					<div class="b-faq">
						<div class="faq__item">
							<a href="#" class="faq__title js-faq-title">
								<div class="faq__spoiler js-faq-rotate"><span class="faq__symbol ">+</span>
								</div>
								<span class="faq__text">What is Hire Me?
								</span>
							</a>
							<div class="faq__content js-faq-content">
								Hiring the right employees for your business is important no matter
								what kind of work you're in. Having quality employees will help your company run and
								grow.
								However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and
								browsing profiles is only part of the job.


							</div>
						</div>
					</div>
					<br>
					<div class="b-faq">
						<div class="faq__item">
							<a href="#" class="faq__title js-faq-title">
								<div class="faq__spoiler js-faq-rotate"><span class="faq__symbol ">+</span>
								</div>
								<span class="faq__text">What is Hire Me?
								</span>
							</a>
							<div class="faq__content js-faq-content">
								Hiring the right employees for your business is important no matter
								what kind of work you're in. Having quality employees will help your company run and
								grow.
								However, it can be a daunting task to recruit and keep top talent. Reviewing resumes and
								browsing profiles is only part of the job.


							</div>
						</div>
					</div>

				</div>
			</div>

		</section>

		<!-- contact us -->
<!--		<section style="background-color:rgb(249, 249, 255); font-family:Quicksand; padding-top: 50px;">-->

<!--			<form id="contact" style="margin:10px;" class="container-fluid ">-->
<!--				<h2 style=" color:rgba(169, 199, 36, 0.959);" class="text-left">CONTACT US</h2>-->
<!--				<br>-->

<!--				<div class="row">-->
<!--					<div class="col-sm-5">-->
<!--						<p>Contact us and we'll get back to you within 24 hours.</p>-->
<!--						<br>-->
<!--						<p><span class="glyphicon glyphicon-map-marker"></span> Lazimpat, Kathmandu</p>-->
<!--						<p><span class="glyphicon glyphicon-phone"></span> +01 2223334</p>-->
<!--						<p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>-->
<!--					</div>-->


<!--					<div class="col-sm-7 slideanim">-->
<!--						<div class="row">-->
<!--							<div class="col-sm-6 form-group">-->
<!--								<form method="POST" action="contact">-->
<!--				{% csrf_token %}-->
<!--								<input class="form-control" id="cname" name="name" placeholder="Name" type="text"-->
<!--									required>-->
<!--							</div>-->
<!--							<div class="col-sm-6 form-group">-->
<!--								<input class="form-control" id="cemail" name="email" placeholder="Email" type="email"-->
<!--									required>-->
<!--							</div>-->
<!--						</div>-->
<!--						<textarea style="resize: none;" class="form-control" id="textarea" name="comment"-->
<!--							placeholder="comments" rows="4"></textarea><br>-->
<!--						<div class="row">-->

<!--							<div class="col-sm-12 form-group">-->
<!--								<button-->
<!--									style=" margin-left:15px;border-radius: 30px; background-color:rgba(169, 199, 36, 0.959); text-align: center; text-decoration: none;  "-->
<!--									type="submit" class="button">-->
<!--									SEND-->


<!--								</button>-->
	<section style="background-color: aliceblue;">

			<div id="contact" style="margin:10px;"class="container-fluid ">
				<h2 style="padding-top: 50px; color:rgb(51, 63, 31);"class="text-center">CONTACT US</h2>
				<div class="row">
				  <div class="col-sm-5">
					<p>Contact us and we'll get back to you within 24 hours.</p>
					<p><span class="glyphicon glyphicon-map-marker" ></span> {{data.address}}</p>
					<p><span class="glyphicon glyphicon-phone"></span>{{data.number}}</p>
					<p><span class="glyphicon glyphicon-envelope"></span>{{data.company_email}}</p>

				  </div>
						<form method="POST" action="contact">
				{% csrf_token %}
<!--									{{form.name.label}}-->
<!--									{{form.name}}-->

<!--									{{form.email.label}}-->
<!--									{{form.email}}-->

<!--									{{form.content.label}}-->
<!--									{{form.comment}}-->



					<input type="hidden" value="contact" name="form">


				  <div class="col-sm-7 slideanim">
					<div class="row">
					  <div class="col-sm-6 form-group">
						<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
					  </div>
					  <div class="col-sm-6 form-group">
						<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
					  </div>
					</div>
					<textarea class="form-control" id="comments" name="comment" placeholder="Comment" rows="5" required></textarea><br>
					  <div class="row">
					  		<div class="col-sm-12 form-group">
								<button
									style=" margin-left:15px;border-radius: 30px; background-color:rgba(169, 199, 36, 0.959); text-align: center; text-decoration: none;  "
									type="submit" class="button">
									SEND


								</button>
							</div>
							</div>
						</div>

<!--			</form>-->
						</div>
					</div>
				</div>
			</div>



		</section>

		<!-- footer -->
		<footer>
			<p class="text-light text-center "
				style="color: #7d7d7d ;text-decoration-line: none; justify-content: center; font-size: 13px; margin-bottom: 10px; margin-top:10px;">
				Hire Me! © 2020
			</p>
		</footer>


		<!-- Scripts -->
		<script>
			// Open and close sidebar
			function openNav() {
				document.getElementById("mySidebar").style.width = "100%";
				document.getElementById("mySidebar").style.display = "block";
			}

			function closeNav() {
				document.getElementById("mySidebar").style.display = "none";
			}
		</script>
		<script>
        $(function () {

            //BEGIN
            $(".js-faq-title").on("click", function (e) {

                e.preventDefault();
                var $this = $(this);

                if (!$this.hasClass("faq__active")) {
                    $(".js-faq-content").slideUp(800);
                    $(".js-faq-title").removeClass("faq__active");
                    $('.js-faq-rotate').removeClass('faq__rotate');
                }

                $this.toggleClass("faq__active");
                $this.next().slideToggle();
                $('.js-faq-rotate', this).toggleClass('faq__rotate');
            });
            //END

        });

    </script>

		<script src="https://md-aqil.github.io/images/swiper.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://md-aqil.github.io/images/swiper.min.js"></script>
<<<<<<< HEAD
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>

=======
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js "></script>
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
>>>>>>> origin

</body>

</html>